{% extends "squad/project_settings/base.jinja2" %}

{% block page_title %}{{ _('Project build confidence') }} {{ project.group.display_name }} / {{ project.display_name }} {% endblock %}

{% block settings %}
<h1>{{ _('Build confidence') }}</h1>

<form method="POST">
    {{crispy(form)}}
    <input class='btn btn-primary' type="submit" value="{{ _('Save') }}" />
</form>

{% endblock %}
