{% extends "squad/project_settings/base.jinja2" %}

{% block page_title %}{{ _('Delete project') }} {{ project.group.display_name }} / {{ project.display_name }} {% endblock %}

{% block settings %}

    <div class='panel panel-danger'>
        <div class='panel-heading'>
        <h1>{{ _('Delete project') }}</h1>
        </div>
        <div class='panel-body'>
            <p>
            {{ _('Once you delete your project, all of its data will be <strong>removed permanently</strong>.') | safe }}
            </p>
            <form method="POST">
                {{crispy(form)}}
                <input class='btn btn-danger' type="submit" value="{{ _('Delete project') }}" />
            </form>
        </div>
    </div>

{% endblock %}
