{% extends "squad/project_settings/base.jinja2" %}

{% block page_title %}{{ _('Project thresholds') }} {{ project.group.display_name }} / {{ project.display_name }} {% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{static("select2.js/select2.css")}}">
{% endblock %}

{% block settings %}
<div ng-app="MetricThreshold" ng-controller="MetricThresholdController" ng-init="project={{ project.id }}; environments={{ to_json(environments) }}">
{% include "squad/project_settings/_threshold_table.jinja2" %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{{static("angularjs/angular-resource.min.js")}}'></script>
<script type="module" src='{{static("squad/metric.threshold.js")}}'></script>
{% endblock %}
