{% extends "squad/project_settings/base.jinja2" %}

{% block styles %}
<link rel="stylesheet" href="{{static("select2.js/select2.css")}}">
{% endblock %}

{% block settings %}
<div ng-app="MetricThreshold" ng-controller="MetricThresholdController" ng-init="project={{ project.id }}">
{% include "squad/project_settings/_threshold_table.jinja2" %}
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{{static("angularjs/angular-resource.min.js")}}'></script>
<script type="module" src='{{static("squad/metric.threshold.js")}}'></script>
<script type="text/javascript" src='{{static("select2.js/select2.min.js")}}'></script>
<script type="text/javascript">
$(document).ready(function() {
  $("#metric_name").select2();
});
</script>
{% endblock %}
