# KEEP THIS IN SYNC WITH .gitignore
db.sqlite3
.git
.puzzle
secret.dat
squad/local_settings.py
squad/local_settings.py.off
static
.tests
**/__pycache__
**/*.mo
**/*.pyc
**/*.swp
tmp
dist
build
.metadata.json
celerybeat-schedule.db
node_modules
tags
doc/_build
.coverage
htmlcov
