# KEEP THIS IN SYNC WITH .gitignore
db.sqlite3
.git
.puzzle
secret.txt
squad/frontend/static/angularjs
squad/frontend/static/bootstrap
squad/frontend/static/font-awesome
squad/frontend/static/lodash.js
static
.tests
**/__pycache__
**/*.pyc
tmp
