# KEEP THIS IN SYNC WITH .dockerignore
/db.sqlite3
/.puzzle
/secret.dat
/squad/frontend/static/angularjs
/squad/frontend/static/bootstrap
/squad/frontend/static/font-awesome
/squad/frontend/static/lodash.js
/squad/frontend/static/chartjs
/squad/frontend/static/jquery.js
/squad/frontend/static/floatThead
/squad/frontend/static/select2.js/
/squad/frontend/static/download.status
/squad/local_settings.py
/squad/local_settings.py.off
/static
/.tests
__pycache__
*.mo
*.pyc
*.swp
/tmp
/dist
/build
/.metadata.json
/celerybeat-schedule.db
/node_modules
/tags
/doc/_build
/.coverage
/htmlcov
/storage
/test/storage
