include Dockerfile
include docker-compose.yaml
include dev-docker
include Procfile
include CHANGELOG.md
include COPYING
include COPYRIGHTS
include requirements*.txt
include manage.py
include INSTALL.rst
include HACKING.rst
include CODEOWNERS
include package.json
include package-lock.json
include pytest.ini 
include .ackrc
include .ctags
include .dockerignore
include .gitignore
include .mailmap
include .readthedocs.yml
include .coveragerc
include squad.svg

include           squad/core/management/commands/import_data.rst
recursive-include squad/frontend/static/ *
recursive-include squad/*/templates/ *
recursive-include test/ *.py *.json *.csv *.log *.png *.yaml *.js
recursive-include scripts/ *
recursive-include doc/ *
recursive-include LICENSES/ *
recursive-include .reuse/ *
recursive-include .github/ *

include babel.cfg
recursive-include squad/ *.mo *.po *.pot

exclude           squad/local_settings.py
exclude           squad/local_settings.py.off
recursive-exclude squad/frontend/static/vendor/ *
recursive-exclude doc/_build/ *
recursive-exclude test/storage/ *
