celery
coreapi
Django>=1.11,<1.12
django-cors-headers
django-simple-history
django_filter>=1.1,<2.0
djangorestframework
djangorestframework-filters
gunicorn
Jinja2
Markdown
msgpack>=0.5.0
psycopg2
python_dateutil
PyYAML
pyzmq
requests
sqlparse
svgwrite
whitenoise
