{% extends "squad/group_settings/base.jinja2" %}

{% block settings %}

<div class='panel panel-danger'>
    <div class='panel-heading'>
    <h1>{{ _('Delete group') }}</h1>
    </div>
    <div class='panel-body'>
        <p>
        {{ _('Once you delete your group, all of its projects, and all of their data, will be <strong>removed permanently</strong>.') | safe }}
        </p>
        <form method="POST">
            {{crispy(form)}}
            <input class='btn btn-danger' type="submit" value="{{ _('Delete group') }}" />
        </form>
    </div>
</div>

{% endblock %}
