{% extends "squad/group_settings/base.jinja2" %}

{% block page_title %}{{ _('Group settings') }} {{ group.display_name }}{% endblock  %}

{% block settings %}
<h1>{{ _('Basics') }}</h1>

<form method="POST">
    {{crispy(form)}}
    <input type="submit" class="btn btn-primary"/>
</form>

{% endblock %}
