{% extends "squad/base.jinja2" %}

{% block content %}

<h2 class="page-header well">
{{ _('New group') }}
</h2>

<form method="POST">
    {{crispy(form)}}
    <input type="submit" class="btn btn-primary" value="{{ _('Add group') }}"/>
</form>

{% endblock %}
