{% extends "squad/base.jinja2" %}

{% block content %}

{% with pagetitle="» New project" %}
{% include "squad/group-nav.jinja2" %}
{% endwith %}


<form method="POST">
    {{crispy(form)}}
    <input type="submit" class="btn btn-primary" value="Add project"/>
</form>

{% endblock %}
