{% extends "squad/base.jinja2" %}

{% block page_title %}{{ _('New project') }} {{ group.display_name }}{% endblock  %}

{% block content %}

{% with pagetitle=_('New project') %}
{% include "squad/group-nav.jinja2" %}
{% endwith %}


<form method="POST">
    {{crispy(form)}}
    <input type="submit" class="btn btn-primary" value="{{ _('Add project') }}"/>
</form>

{% endblock %}
