{% if user.is_authenticated %}
    {% if project.user_subscriptions %}
        <form class="pull-right" action="{{url("settings-subscription-remove-post")}}" method="POST">
    {% else %}
        <form class="pull-right" action="{{url("settings-subscriptions")}}" method="POST">
    {% endif %}
    {{ csrf_input }}
    <input type="hidden" name="notification-strategy" value="all"/>
    <input type="hidden" name="email" value="{{ user.email }}"/>
    <input type="hidden" name="subscription" value="{{ project.id }}"/>
    {% if project.user_subscriptions %}
        <button class="btn btn-default" type="submit" data-toggle="tooltip" title="unsubscribe from project"><i class='fa fa-bell-slash'>&nbsp;</i></button>
    {% else %}
        <button class="btn btn-default" type="submit"><i class='fa fa-bell' data-toggle="tooltip" title="subscribe to project">&nbsp;</i></button>
    {% endif %}
    </form>
{% endif %}
