<div class='row row-bordered {{test.status}} tests-{{status.id}}-{{test.status}}' style='display: {% if test.status == "fail" %}block{% else %}none{% endif %}'>
    <div class='col-md-6 col-sm-6'>
        <i class='fa fa-{% if test.status == "fail" %}times{% elif test.status == "pass" %}check{% else %}question-circle-o{% endif %}'></i>
        <a href="{% url 'test_history' project.group.slug project.slug test.full_name %}">{{test.name}}</a>
    </div>
    <div class='col-md-6 col-sm-6'>
        {% if test.log %}
            <a class="btn btn-sm btn-danger testlog-{{test.id}}" href='#' onclick='$(".testlog-{{test.id}}").toggle(); return false'>Show log snippet</a>
            <a class="btn btn-sm btn-danger testlog-{{test.id}}" href='#' onclick='$(".testlog-{{test.id}}").toggle(); return false' style='display: none'>Hide log snippet</a>
        {% else %}
            <em>No log available for this test</em>
        {% endif %}
    </div>
    <div class='testlog-{{test.id}} col-md-12 col-sm-12' style='display: none'>
        <pre>{{test.log}}</pre>
    </div>
</div>

