{% if build and not build.status.finished %}
{% with reasons=build.finished.1 %}
<i title='Build/testing in progress' class="fa fa-cog fa-spin popover-hover popover-unfinished-build"></i>
<div title='Build/testing in progress' class='hidden'>
    <p>
    {{ _('This build is not considered finished yet for the following reasons:') }}
    </p>
    <ul>
        {% for reason in reasons %}
        <li>{{reason}}</li>
        {% endfor %}
    </ul>
    <p>
    {{ _('Being unfinished, this build will not trigger email notifications.') }}
    </p>
</div>
{% endwith %}
{% endif %}

