{% load squad %}
{% if user.is_authenticated %}
  <li class="nav-item dropdown">
      <a class="dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <img src="{% avatar_url user.email 20 %}" class='avatar-sm'/>
        <span class="caret"></span>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
        <li><div>Signed in as <strong>{{ user.username }}</strong></div></li> <!-- FIXME -->
        {% if user.is_staff %}
          <div class="dropdown-divider"></div>
          <li><a class="nav-link" href="/admin/">Administration</a></li>
        {% endif %}
        <div class="dropdown-divider"></div>
        <li><a class="nav-link" href="{% url 'settings-home' %}">Settings</a></li>
        <li><a class="nav-link" href="/logout">Sign out</a></li>
      </ul>
  </li>
{% else %}
  <li>
    <a class="nav-link" href="/login/?next={{request.path}}"><i class='fa fa-sign-in'></i> Log in</a>
  </li>
{% endif %}
