{% extends "squad/base.jinja2" %}

{% block content %}
{% include "squad/build-nav.jinja2" %}

  <h2>{{ _('Build settings') }}</h2>

  <form method="POST">
    {{crispy(form)}}
    <input type="submit" class="btn btn-primary" value="{{ _('Save') }}"/>
  </form>

</div>
{% endblock %}
