{% extends "squad/base.jinja2" %}

{% block content %}
{% include "squad/build-nav.jinja2" %}

<h2>Metadata</h2>
{% include "squad/_metadata.jinja2" %}
{% endblock %}

{% block javascript %}
<script type="text/javascript" src='{{static("squad/annotation.js")}}'></script>
<script type="text/javascript">
csrf_token = '{{ csrf_token }}'
</script>
{% endblock %}
