{% extends "squad/base.jinja2" %}

{% block content %}
<div ng-app='Build'>
{% include "squad/build-nav.jinja2" %}
</div>

<h2>{{ _('Metadata') }}</h2>
{% include "squad/_metadata.jinja2" %}
{% endblock %}

{% block javascript %}
<script type="module" src='{{static("squad/build.js")}}'></script>
{% endblock %}
