{% extends "squad/base.html" %}
{% load humanize %}
{% load squad %}

{% block content %}
<h1>{{group.slug}}</h1>
<table class='table table-striped'>
    <tr>
        <th>Project</th>
        <th>Last update</th>
        <th>Tests</th>
        <th>Metrics</th>
    </tr>
    {% for project in projects %}
    {% with status=project.status %}
    <tr>
        <td>
            <a href="{% project_url project %}">
                {{project.slug}}
            </a>
        </td>
        <td>
            {{status.last_updated}}
            <em>{{status.last_updated|naturaltime}}</em>
        </td>
        <td>
            <div class="progress">
                <div class="progress-bar progress-bar-success" style="width: {{project.status.pass_percentage}}%">
                    <span class="sr-only">Pass: {{project.status.pass_percentage}}% </span>
                </div>
                <div class="progress-bar progress-bar-danger" style="width: {{project.status.fail_percentage}}%">
                    <span class="sr-only">{{project.status.fail_percentage}}</span>
                </div>
            </div>
        </td>
        <td>
            {{project.status.metrics_summary}}
        </td>
        {% endwith %}
    </tr>
    {% endfor %}
</table>
{% endblock %}
