<h2 class="page-header well">
    <a class="h2 text-primitive" href="{{group_url(group) }}">{{group.display_name}}</a>
    {% if pagetitle %}
    » {{pagetitle}}
    {% endif %}
</h2>
<p>
{{group.description|default("")}}
</p>
<ul class="page-header nav nav-pills">
    {% with url_name=request.resolver_match.url_name %}
    {% if group.writable_by(user) %}
    <li role="presentation" {% if url_name == "group" %}class="active"{% endif %}>
        <a href="{{group_url(group)}}">{{ _('Projects') }}</a>
    </li>

    <li role="presentation" {% if "group-settings" in url_name %}class="active"{% endif %}>
        <a href="{{url("group-settings", args=[group.slug])}}">{{ _('Group settings') }}</a>
    </li>

    <li role="presentation" {% if url_name == "group-new-project" %}class="active"{% endif %}>
        <a href="{{url("group-new-project", args=[group.slug])}}">{{ _('New project') }}</a>
    </li>
    {% endif %}
    {% endwith %}
</ul>
<div>&nbsp;</div>
