{% extends "squad/base.html" %}
{% load humanize %}
{% load squad %}
{% load static %}

{% block content %}
<div class="card bg-light mb-3">
  <div class="card-header"><h2>All groups</h2></div>
</div>
<div class='highlight-row'>
{% for group in groups %}
<a href="{% group_url group %}">
	<div class="row row-bordered project">
		<div class="col-3">
			<strong>
				{{group.name}}
			</strong>
		</div>
		<div class="col-6">
			<p>
			{{group.description|default:""|truncatechars_html:250}}
			</p>
		</div>
		<div class="col-3">
			<span class="badge" data-toggle="tooltip" data-placement="top" title="">{{group.project_count}}</span>
			projects
		</div>
	</div>
</a>
{% endfor %}
</div>
{% endblock %}
