{% extends "squad/base.html" %}
{% load static %}
{% load squad %}

{% block content %}
{% include "squad/project-nav.html" with pagetitle="» Metrics" %}

<div style='margin-top: 20px'></div>

<div class="row" ng-app='SquadCharts' ng-controller='ChartsController'>
  <div class='col-md-3'>
    <form><!-- TODO -->

      {% verbatim %}
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <span ng-show='getEnvironmentIds().length > 0'>
            Environment
          </span>
          <span ng-show='getEnvironmentIds().length == 0'>
            <strong>Select environment(s)</strong>
          </span>
          <span class='pull-right'>
            <small><a style='cursor: pointer' ng-click='toggleEnvironments()'>toggle all</a></small>
          </span>
        </div>
        <ul class='list-group'>
          <li class='list-group-item' ng-repeat='environment in environments'>
              <input type='checkbox' name='environment[]'
                     id='environment-{{environment.name}}'
                     value='{{environment.name}}'
                     ng-model='environment.selected'
                     ng-change='environmentsChanged()'
              />
              &nbsp;
              <label for='environment-{{environment.name}}'>
                {{environment.name}}
              </label>
          </li>
        </ul>
      </div>

      <div class='panel panel-default' ng-show='getEnvironmentIds().length > 0'>
        <div class='panel-heading'>
          Metrics
        </div>
        <div class='panel-body'>
          <div class='metric-selected' ng-repeat='metric in selectedMetrics'>
            <small>{{metric.label}}</small>
            <a class='pull-right label label-default' ng-click='removeMetric(metric)'><strong>×</strong></a>
          </div>

          Add metric:
          <select ng-disabled="disabled" ng-model="metric" class="form-control"
                  ng-change="addMetric(metric)" ng-options="item.padding + item.label for item in metrics"></select>
        </div>
      </div>
      {% endverbatim %}

    </form>
    <div id='sidebar'>
    </div>
  </div>
  <div class='col-md-9'>
    <div id='charts'>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
DATA = {
  'project': '{{project.group.slug}}/{{project.slug}}',
  'environments': {{environments|safe}},
  'metrics': {{metrics|safe}},
  'data': {{data|safe}}
}
</script>
<script type="text/javascript" src='{% static "squad/charts.js" %}'></script>
{% endblock %}
