{% load squad %}
<h1>
  <a class="h1 text-primary" href="{% group_url project.group %}">{{project.group}}</a>
  » <a class="h1 text-primary" href="{% project_url project %}">{{project.slug}}</a>
  {{pagetitle}}
</h1>
<ul class="nav nav-tabs">
  {% with url_name=request.resolver_match.url_name %}
  <li role="presentation" {% if url_name == 'project' %}class="active"{% endif %}>
    <a href="{% project_url project %}">
      Project Summary
    </a>
  </li>
  <li role="presentation" {% if url_name == 'build' or url_name == 'builds' or url_name == 'testrun' %}class="active"{% endif %}>
    <a href="{% project_section_url project 'builds' %}">
      Builds
    </a>
  </li>

  <li role="presentation" {% if url_name == 'metrics' %}class="active"{% endif %}>
    <a href="{% project_section_url project 'metrics' %}">
      Metrics
    </a>
  </li>

  {% endwith %}
</ul>

