{% extends "squad/base.html" %}
{% load humanize %}
{% load squad %}
{% load static %}

{% block content %}

{% with status=project.status %}

{% include "squad/project-nav.html" %}

{% if last_build %}
<div>
<h2>
  Last build - {% include "squad/_unfinished_build.html" with build=last_build %}
  {% include "squad/_regressions_and_fixes.html" with build=last_build %}
  <a class="h2 text-primary" href="{% project_url last_build %}">{{last_build.version}}</a> {{last_build.datetime}} {{last_build.datetime|naturaltime}}
</h2>

{% include "squad/_metadata.html" %}

<h2>Latest builds</h2>
{% include "squad/_builds_table.html" %}
</div>
{% endif %}

{% endwith %}
{% endblock %}
