{% extends "squad/base.html" %}
{% load humanize %}
{% load squad %}
{% load static %}

{% block content %}

{% with status=project.status %}

{% include "squad/project-nav.html" %}

{% if last_build %}
<div>
<h2>Last build - {% if not last_build.status.finished %}<i title="Build/testing in progress" class="fa fa-cog fa-spin"></i>{% endif %}
  <span><i class="fa fa-exclamation-triangle text-danger popover-regressions {% if not last_build.status.get_regressions %}hidden{% endif %}"></i>
  <button title="Regressions" class="hidden">
      {% for regression_key, regression_value in last_build.status.get_regressions.items %}
      <div>
          <h3>{{ regression_key }}</h3>
          <ul>
              {% for test in regression_value %}
              <li>{{ test }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
  </button>
</span>
<span>
  <i class="fa fa-check-circle text-success popover-fixes {% if not last_build.status.get_fixes %}hidden{% endif %}"></i>
  <button title="Fixes" class="hidden">
      {% for fix_key, fix_value in status.get_fixes.items %}
      <div>
          <h3>{{ fix_key }}</h3>
          <ul>
              {% for test in fix_value %}
              <li>{{ test }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endfor %}
  </button>
</span>
<a class="h2 text-primary" href="{% project_url last_build %}">{{last_build.version}}</a> {{last_build.datetime}} {{last_build.datetime|naturaltime}}</h2>

{% include "squad/_metadata.html" %}

<h2>Latest builds</h2>
{% include "squad/_builds_table.html" %}
</div>
{% endif %}

{% endwith %}
{% endblock %}

{% block javascript %}
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
    $('.popover-regressions, .popover-fixes').popover({
            placement: 'right',
            trigger: 'hover',
            container: 'body',
            html: true,
            title: function() { return $(this).parent().find('.hidden').attr('title') },
            content: function() { return $(this).parent().find('.hidden').html() }
    });
});
</script>
{% endblock %}
