{% extends "squad/base.jinja2" %}

{% block content %}
<h3>{{ _("The URL for requested test job (%s) doesn't yet exist.") % testjob.id }}</h3>
{% if testjob.failure %}
<p>{{ _('TestJob submission failed') }}</p>
<pre>{{ testjob.failure }}</pre>
{% else %}
<p>{{ _('Please try again later') }}</p>
{% endif %}
{% endblock %}
