<ul class="page-header nav nav-pills build-nav-header">
    {% with url_name=request.resolver_match.url_name %}

    <li role="presentation" {% if url_name == 'testrun_suite_test_details' %}class="active"{% endif %}>
       <a href="{{testrun_suite_test_details_url(project.group, project, build, status, test)}}">
           {{ _('Test Details & Metadata') }}
       </a>
    </li>
    <li role="presentation" {% if url_name == 'test_history' %}class="active"{% endif %}>
        <a href="{{testrun_suite_test_details_history_url(project.group, project, build, status, test)}}">
            {{ _('Test History') }}
        </a>
    </li>

    {% endwith %}
</ul>
