{% extends "squad/base.html" %}
{% load squad %}

{% block content %}
  {% include "squad/project-nav.html" %}

	<h2>
		<a href="{% project_url build %}">
			Build {{build.version}}
		</a>
		»
		Test run <u>{{test_run.job_id}}</u>
	</h2>

	<table class='table table-hover table-condensed'>
		{% for suite, metrics in metrics_by_suite %}
		<tr class='warning'>
			<td colspan='2'>
				<h3>{{suite}}</h3>
			</td>
		</tr>
			{% for metric in metrics %}
			<tr>
				<td>{{metric.name}}</td>
				<td>{{metric.result}}</td>
			</tr>
			{% endfor %}
			<tr>
				<td colspan='2'>&nbsp;</td>
			</tr>

		{% endfor %}
	</table>

{% endblock %}
