{% extends "squad/base.jinja2" %}

{% block content %}

<div class='row'>
  <div class='col-md-3'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <strong>{{ _('User settings') }}</strong>
      </div>
      <ul class="list-group settings-nav">
        <li class="list-group-item {{active("settings-profile")}}"><a href="{{url('settings-profile')}}">{{ _('Profile') }}</a></li>
        <li class="list-group-item {{active("settings-projects")}}"><a href="{{url('settings-projects')}}">{{ _('Personal projects') }}</a></li>
        <li class="list-group-item {{active("settings-api-token")}}"><a href="{{url('settings-api-token')}}">{{ _('API token') }}</a></li>
        <li class="list-group-item {{active("settings-subscriptions")}}"><a href="{{url('settings-subscriptions')}}">{{ _('Subscriptions') }}</a></li>
      </ul>
    </div>
  </div>
  <div class='col-md-9'>
    {% block settings %}{% endblock %}
  </div>
</div>

{% endblock %}
