{% extends "squad/base.jinja2" %}

{% block content %}
{% if user.is_authenticated %}
<h1>{{ _('Permission denied') }}</h1>
<p>
{{ _('You are not allowed to access this content.') }}
</p>
{% else %}
<h1>{{ _('Authentication required') }}</h1>
<p>
<a href="/login?next={{request.path}}">{{ _('Go to the login page.') }}</a>
</p>
{% endif %}

{% endblock %}
