form#compare-projects-form div.checkbox {
    height: 2.2em;
}

form#compare-projects-form div.checkbox select{
    width: 20em;
    padding-top: 0px;
}

form#compare-projects-form div.checkbox label{
    padding-top: 5px;
}

form#compare-projects-form div.checkbox .select-build{
    display: inline;
}

div#test-results-transition-filters table {
   width: 60%;
}
div#test-results-transition-filters table th,
div#test-results-transition-filters table td {
    width: 10%;
    text-align: center;
    padding: 3px;
}
