.project {
  border: solid 1px #babdb6;
  border-radius: 5px;
  margin-top: 15px;
  padding-top: 1em;
  padding-bottom: 1em;
  background: #fcfcfc;
}

.project-listing-info {
  border-left: 1px solid #babdb6;
}

.project h2 {
  margin-top: 0px;
  font-size: 16px;
}

.project .description {
  border-top: 1px solid #babdb6;
  margin-top: 1em;
  padding-top: 1em;
  font-size: 14px;
  color: #2e3436;
}

.project .description a.toggle-description {
  font-weight: bold;
}

.pass, .pass a {
  color: #39aa56;
}

td.pass {
  background-color: #c7e39a;
}
td.pass:hover {
  background-color: #d8f4ab;
}

.fail, .fail a {
  color: #db4545;
}

td.fail {
  background-color: #ffcccc;
}
td.fail:hover {
  background-color: #ffeeee;
}

table.test-results th a:link,
table.test-results td a:link {
  display: block;
}
table.test-results th:hover {
  background-color: rgb(221,221,221);
}

body {
  background: #f9f9f9;
}

#wrapper {
  background: white
}

footer {
  width: 100%;
  background: #f9f9f9;
  color: #777777;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a:visited, footer a:link {
  color: #777777;
  font-weight: bold;

}

.navbar {
  margin-bottom: 10px;
}
h1 {
  margin-top: 0px;
}
