.row-bordered {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #d3d7cf;
}

.highlight-row .row-bordered:hover
{
  background-color: #fffbcf;
}

.highlight-row a:link,
.highlight-row a:visited {
  color: inherit;
}

.metadata .row-bordered {
  margin-top: 0px;
  border-top: none;
}
.metadata .row-bordered:first-child {
  border-top: 1px solid #d3d7cf;
}

.row-bordered.fail {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a40000;
}
.row-bordered.pass i {
  color: #00a400;
}
.row-bordered.skip i {
  color: #a4a400;
}

.tests-details {
  margin-top: 0px;
  border-top: none;
}

.tests-details-skip i {
  color: #c4a000;
}

.tests-details-pass i {
  color: #4e9a06;
}

.project .description {
  margin-top: 0em;
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 14px;
  color: #2e3436;
}

.project .description a.toggle-description {
  font-weight: bold;
}

thead {
  background: white
}

body {
  background: #f9f9f9;
}

#wrapper {
  background: white
}

footer {
  width: 100%;
  background: #f9f9f9;
  color: #777777;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a:visited, footer a:link {
  color: #777777;
  font-weight: bold;

}

.navbar {
  margin-bottom: 10px;
}
h1 {
  margin-top: 0px;
}

.filter input {
  width: 90%;
  border: none;
}

table.test-results {
  width: 100%;
  border: none;
  border-spacing: 2px;
  border-collapse: separate;
  empty-cells: hide;
}

table.test-results th, table.test-results td {
  border: 1px solid #eeeeec;
  padding: 4px;
}

table.test-results td.fail {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a40000;
}
table.test-results td.pass {
  background-color: #def2de;
  border-color: #44a942;
  color: #00a400;
}
table.test-results td.skip {
  background-color: #f2f2de;
  border-color: #a9a942;
  color: #a4a400;
}

table.test-results a:only-child {
  display: block;
  margin: -4px;
  padding: 4px;
}

.pass a, .fail a, .skip a {
  font-weight: bold;
}

.fail a       { color: #a40000; }
.fail a:hover { background-color: #ffeeee; text-decoration: none; }
.pass a       { color: #00a400; }
.pass a:hover { background-color: #ddffdd; text-decoration: none; }
.skip a       { color: #a4a400; }
.skip a:hover { background-color: #ffffdd; text-decoration: none; }

.test-description, .metric-description {
  margin-top: 1em;
}

.settings-nav a {
  display: block;
}

.settings-nav li.active a {
  color: white;
  font-weight: bold;
}

.dropdown-menu > li > div {
  padding: 3px 20px;
  white-space: nowrap;
}

.avatar-sm {
  border-radius: 4px;
}

.avatar-lg {
  border-radius: 8px;
}
