.row-bordered {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #d3d7cf;
}

.highlight-row .row-bordered:hover
{
  background-color: #fffbcf;
}

.highlight-row a:link,
.highlight-row a:visited {
  color: inherit;
}

.metadata .row-bordered {
  margin-top: 0px;
  border-top: none;
}
.metadata .row-bordered:first-child {
  border-top: 1px solid #d3d7cf;
}

.row-bordered.fail {
  background-color: #f2dede;
  border-color: #a94442;
  color: #a40000;
}

.tests-details {
  margin-top: 0px;
  border-top: none;
}

.tests-details-skip i {
  color: #c4a000;
}

.tests-details-pass i {
  color: #4e9a06;
}

.row.metrics {
  border: none;
}

.metrics .metric {
  border: 1px solid #d3d7cf;
}

.project .description {
  border-top: 1px solid #babdb6;
  margin-top: 0em;
  margin-bottom: 1em;
  padding-top: 1em;
  font-size: 14px;
  color: #2e3436;
}

.project .description a.toggle-description {
  font-weight: bold;
}

.pass, .pass a {
  color: #39aa56;
}

td.pass {
  background-color: #c7e39a;
}
td.pass:hover {
  background-color: #d8f4ab;
}

td.fail {
  background-color: #ff8c8c;
}
td.fail a {
  color: #a40000;
}
td.fail:hover {
  background-color: #f75757;
}

table.test-results th a:link,
table.test-results td a:link {
  display: block;
}
table.test-results th:hover {
  background-color: rgb(221,221,221);
}

thead {
  background: white
}

body {
  background: #f9f9f9;
}

#wrapper {
  background: white
}

footer {
  width: 100%;
  background: #f9f9f9;
  color: #777777;
  margin-top: 3em;
  padding-top: 1em;
  padding-bottom: 1em;
}

footer a:visited, footer a:link {
  color: #777777;
  font-weight: bold;

}

.navbar {
  margin-bottom: 10px;
}
h1 {
  margin-top: 0px;
}

.filter input {
  width: 90%;
  border: none;
}
