.pass, .pass a {
  color: #214203;
}

td.pass {
  background-color: #c7e39a;
}
td.pass:hover {
  background-color: #d8f4ab;
}

.fail, .fail a {
  color: #a40000;
}

td.fail {
  background-color: #ffcccc;
}
td.fail:hover {
  background-color: #ffeeee;
}

table.test-results th a:link,
table.test-results td a:link {
  display: block;
}
table.test-results th:hover {
  background-color: rgb(221,221,221);
}
